# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Jeremy Hofmann
tagline: Superficial Intelligence # it will display as the subtitle
email: jeremy.hofmann@outlook.com
description: >- # this means to ignore newlines until "baseurl:"
  Personal, professional (but mostly personal), and project-based blog of Jeremy Hofmann.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://hofmanniac.github.io" # the base hostname & protocol for your site
github_username:  hofmanniac
linkedin_username: jeremy-hofmann-25a2722

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:name/
  media:
    output: true
    permalink: /media/:name/
  systems:
    output: true
    permalink: /systems/:name/

# Defaults
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "media"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "systems"
    values:
      layout: "page"

# Navigation
header_pages:
  - index.md
  - about.md
  - posts.md
  - projects.md
  - systems.md
  - experiences.md

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
